.benefitsSection {
  padding: 2rem 1rem;
  border-radius: 12px;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
    
}

/* Список переваг */
.benefitsList {
  padding: 0;
  margin: 0 auto 1.5rem;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}


.benefitItem {
  border-radius: 15px;
  width: 100%;
  box-shadow: var(--shadow);
  max-width: 600px;
  padding: 1rem;
  cursor: pointer;
  outline-offset: 2px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.benefitItem:hover,
.benefitItem:focus {
  background-color: var(--hover-color);
  box-shadow: var(--shadow);
  transform: scale(1.05);
}

/* Темна тема — спеціальний стиль тіней */
.dark .benefitItem {
  box-shadow: var(--shadow);
}

.light {
  list-style: none;
}

.dark .benefitItem:hover,
.dark .benefitItem:focus {
  background-color: var(--hover-color);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.sectionTitle {
  margin-bottom: 2rem;
  justify-content: center;
  font-size: 2.2rem;
  color: var(--text-color);
}


/* Іконка */
.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 0.75rem;
  fill: #4b0676;

}

.dark .icon {
  fill: #6fd7f7;
}

/* Заголовок переваги */
.benefitTitle {
  margin: 0;
  text-align: left;
}

.dark .showAllButton {
  background-color: #07799b;
  color: var(--button-text);
}

.dark .showAllButton:hover,
.dark .showAllButton:focus {
  background-color: #003f7f;
}


/* 📱 Адаптивність — mobile-first */
@media (min-width: 320px) {
  .benefitsList {
    justify-content: flex-start;
    flex-direction: column;
  }

  .benefitItem {
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .benefitItem {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .benefitItem {
    width: 100%;
    height: auto;
    
  }
}