.topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 252, 0);

  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.logo {
  width: 52px;
  height: auto;
  display: block;
  margin-right: 10px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.themeToggle {
  background: transparent;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
  min-width: 40px;
}

@media (min-width: 768px) {
  .topBar {
    /* padding: 1rem 2rem; */
  }

  .logo {
    width: 40px;
  }

  .controls {
    gap: 0.4rem;
  }
}