:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  --text-color: #080019;
  --title: linear-gradient(90deg, #01eff8, #02b1fc, #01f6e2);
  --background-color: #fff;
  --border-color: #67eefc;

  --link-color: #007bff;
  --highlight: rgba(0, 123, 255, 0.8);
  --hover-color: #fcc2a743;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --radius-md: 12px;
  --transition: 0.3s ease-in-out;

  /* Логотип для СВІТЛОЇ теми (ваші кольори) */
  --logo-grad-start: #2b1d72e4;
  --logo-grad-middle: #259caf;
  --logo-grad-end: #d57c41d2;
  --logo-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  --divider: linear-gradient(165deg, #5b24a8c5, #3ffefeb8, #18d1f2);
  --card-bg-dark: rgba(89, 1, 95, 0.21);
  --card-bg-light: rgba(0, 157, 249, 0.173);

  /* Розміри логотипу */
  --logo-size-large: 5rem;
  --logo-size-mid: 2.4rem;
  --logo-size-medium: 3.6vw;
  --logo-size-small: 0.8rem;
  --logo-font: 'Verdana', sans-serif;
}

/* Темна тема */
body.dark {
  --text-color: #d5fffa;
  --background-color: #1c1c1c;
  --border-color: #444;

  --link-color: #4d94ff;
  --highlight: rgba(0, 123, 255, 1);
  --hover-color: rgba(100, 150, 255, 0.6);
  --shadow: 0 2px 12px #42e3fc43;

  /* Логотип для ТЕМНОЇ теми */
  --logo-grad-start: #2daef3b6;
  --logo-grad-middle: #43e4fd;
  --logo-grad-end: #4b1a93d1;
  --logo-shadow: 0 2px 12px #42e3fc43;
}
