:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  --text-color: #080019;
  --background-color: #fff;
  --border-color: #67eefc;
  --button-bg: linear-gradient(165deg, #14f6e7df,#18d1f2,#5b24a8c5,#3ffefeb8,#18d1f2);
  --button-text: #fff;
  --link-color: #007bff;
  --highlight: rgba(0, 123, 255, 0.8);
  --hover-color: #fcc2a743;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --radius-md: 12px;
  --transition: 0.3s ease-in-out;
  --logo-grad-start: #2b1d72e4;
  --logo-grad-middle: #259caf;
  --logo-grad-end: #d57c41d2;
  --logo-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  --divider:linear-gradient(165deg, #5b24a8c5, #3ffefeb8, #18d1f2);

    /* ... твої існуючі змінні ... */
    
      /* === Розміри логотипа (відповідно до твоїх вимог) === */
      --logo-size-large: 5rem;
      /* S і X */
      --logo-size-mid: 2.4rem;
      /* YDRI */
      --logo-size-medium: 3.6vw;
      /* якщо використовується */
      --logo-size-small: 0.8rem;
      /* верхній і нижній рядок */
    
      /* Шрифт логотипа */
      --logo-font: 'Verdana', sans-serif;
}



/* Темна тема */
body.dark {
  --text-color: #d5fffa;
  --background-color: #1c1c1c;
  --border-color: #444;
  --button-bg: linear-gradient(145deg, #14949a,#300261bf, #05c0f995);
  --button-text: #e6faff;
  --link-color: #4d94ff;
  --highlight: rgba(0, 123, 255, 1);
  --hover-color: rgba(100, 150, 255, 0.6);
  --shadow: 0 2px 12px #42e3fc43;

  --logo-grad-start: #2daef3b6;
  --logo-grad-middle: #43e4fd;
  --logo-grad-end: #4b1a93d1;
  --logo-shadow: 0 2px 12px #42e3fc43;
}

/* базові стилі які використовують змінні */
body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
}