/* ============================== */
/*          Light Theme           */
/* ============================== */
:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  --text-color: #0b0021;
  --background-color: #fff;
  --border-color: #ddd;
  --button-bg: #00bcd4;
  --button-text: #fff;
  --link-color: #007bff;
  --highlight: rgba(0, 123, 255, 0.8);
  --hover-color: #fcc2a743;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --radius-md: 12px;
  --transition: 0.3s ease-in-out;

  --logo-grad-start: #2b1d72e4;
  --logo-grad-middle: #259caf;
  --logo-grad-end: #d57c41d2;
  --logo-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ============================== */
/*          Dark Theme            */
/* ============================== */
body.dark {
  --text-color: #fef8f6;
  --background-color: #1c1c1c;
  --border-color: #444;
  --button-bg: linear-gradient(135deg, #0d253a, #1a3d5c);
  --button-text: #e6faff;
  --link-color: #4d94ff;
  --highlight: rgba(0, 123, 255, 1);
  --hover-color: rgba(100, 150, 255, 0.6);
  --shadow: 0 2px 12px #42e3fc43;

  --logo-grad-start: #2daef3b6;
  --logo-grad-middle: #43e4fd;
  --logo-grad-end: #4b1a93d1;
  --logo-shadow: 0 2px 12px #42e3fc43;
}