.navMenu {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  line-height: 1.5rem;
  padding: 5px 0;
}

.link {
  color: #dbf7f3;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(14px, 1vw, 24px);
  padding:  clamp(1px, 1vw, 14px);
  transition: text-decoration 0.3s;
}

/* Ховер та активний */
.link:hover,
.link.active {
  text-decoration: underline;
}

/* Мобільна версія до 768px */
@media (max-width: 768px) {

}
.link:first-child {
  margin-left: 50px;
}