.about {
  padding: 2rem 4rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  color: var(--text-primary);
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.text {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: var(--text-secondary);
}