.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.title {
  font-size: 2.1rem;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
}

.subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--text-color-light);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
}

.logo {
  transition: transform 0.2s ease;
}


.buttonWrapper {
  position: relative;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-text);
  color: var(--thumb-offset-light);
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover
 {
  border: 1px solid var(--border-dropdown);
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  transition: background-color 0.2s ease;
}

.menu {
  position: absolute;
  bottom: 100%;
  margin-bottom: 1rem;
  background: linear-gradient(#294d76ec 0%, #8fc2e6e6 70%, #caecfaee 100%);
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.8rem;
  z-index: 10;
  animation: fadeIn 0.2s ease-out;
  min-width: 160px;
  text-align: left;
}

.menu li {
  margin-bottom: 0.5rem;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu a {
  color: var(--color-text);
  text-decoration: none;
  display: block;
}

.menu a:hover {
  text-decoration: underline;
  color: var(--button-text);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .title {
    line-height: 3rem;
  }

  .subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 6rem;
  }

  .logo {
    width: 400px;
    height: auto;
  }

  .button {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 50px;
  }

  .menu {
    right: auto;

  }
}