/* Base — Mobile First */
.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 12px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.title {
  font-size: clamp(2rem, 4vw, 3rem);
  /* збережено адаптивність */
  font-weight: 700;
  margin-top: 5%;
  background: var(--title);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list {
  list-style: none;
  padding: 0;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

.link {
  color: var(--accent-color, #75189a);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover,
.link:focus {
  color: var(--accent-hover, #401f81);
  text-decoration: underline;
}

/* Light/Dark themes */
.light {
  color: var(--text-color);
}

.dark {
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.05);

  .link {
    color: var(--accent-color, #ccf2fe);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .link:hover,
  .link:focus {
    color: var(--accent-hover, rgb(250, 235, 195));
    text-decoration: underline;
  }
}



/* ===== Розділювач ===== */
.divider {
  width: 90px;
  height: 2px;
  background: var(--divider);
  border-radius: 3px;
  opacity: 0.6;
}

/* Desktop */
@media (min-width: 768px) {
  .section {
    padding: 2rem;
  }

  .title {
    font-size: 3rem;
  }

  .label {
    font-size: 2rem;
  }

  .link {
    font-size: 1.6rem;
  }
}