.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-background);
  border-bottom: 2px solid var(--color-border);
  margin-top: 80px;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--color-text-light);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
}

.logo {
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.02);
}

.buttonWrapper {
  position: relative;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-accent);
  color: var(--color-text-inverse);
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid var(--border-dropdown);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
}

.button:hover {
  background-color: var(--color-button-hover);
}

.menu {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 0.5rem;
  background-color: var(--menu-bg);
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1.25rem;
  z-index: 10;
  animation: fadeIn 0.2s ease-out;
  min-width: 160px;
  text-align: left;
}

.menu li {
  margin-bottom: 0.5rem;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  display: block;
}

.menu a:hover {
  text-decoration: underline;
  color: var(--color-accent-hover);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .logo {
    width: 280px;
    height: auto;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
  }

  .menu {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}